.navbar {
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  padding: 25px 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navItem {
  margin-right: 30px;
}

.navLink {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.navLink:hover {
  text-decoration: none;
  background-color: rgba(198, 198, 198, 0.5);
  opacity: 0.8;
}

.themeToggle {
  display: flex;
  align-items: center;
}

.themeToggle button {
  padding: 8px 12px;
  border: none;
  background-color: #808080;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.themeToggle button:hover {
  background-color: #545454;
}
